@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif, system-ui, "Segoe UI";
  background-color: var(--main-body-bgclr);
  color: var(--primary-txt-clr);
  font-optical-sizing: auto;
}

main {
  overflow: hidden;
}

#about-me {
  height: calc(100dvh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-container {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.5em;
  position: relative;
  width: 95%;
  height: 95%;
  border-radius: 1dvw;
  background-color: var(--container-bgclr);
  box-shadow: inset 0 0 2rem var(--inset-boxShadow-clr);
}

.profile-pic-container {
  margin: 0 2rem;
  width: fit-content;
  height: 60vmin;
  border-radius: 50%;
  box-shadow: 0 0 1.25rem var(--boxShadow-clr);
  transition: 1s ease-in-out;
  animation: blink-pic 5s infinite ease-in-out;
}

@keyframes blink-pic {
  0% {
    scale: 1;
    box-shadow: 0 0 0 var(--boxShadow-clr);
  }

  50% {
    scale: 1.1;
    box-shadow: 0 0 1rem var(--txtShadow-hover-clr);
  }

  100% {
    scale: 1;
    box-shadow: 0 0 0 var(--boxShadow-clr);
  }
}

#profile-pic {
  height: 60vmin;
}

.about-info {
  line-height: 1.25;
}

#txt-hello {
  font-size: 6vmin;
  font-weight: 400;
}

#txt-hello img {
  width: 6vmin;
}

#txt-iam {
  font-weight: 300;
  font-size: 4vmin;
}

#txt-name {
  font-weight: 900;
  font-size: 10vmin;
  letter-spacing: 0.1rem;
  transition: 0.5s ease-in-out;
}

#txt-name:hover {
  color: #181818;
  text-shadow: 0 0 1rem var(--txtShadow-hover-clr);
}

#about-tagline {
  position: relative;
  font-family: "Roboto Mono", monospace;
  color: yellow;
}

#about-tagline::before {
  content: "";
  height: 1.2rem;
  width: 0.2rem;
  position: absolute;
  top: 50%;
  right: -0.25rem;
  background-color: var(--primary-txt-clr);
  background: yellow; /* Blinking stick/bar */
  transform: translateY(-45%);
  animation: blink 0.5s infinite;
}

#about-tagline.stop-blinking::before {
  animation: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.about-social {
  margin: 1rem 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition-duration: 1s;
}

.about-icon {
  color: var(--secondary-txt-clr);
  transition: 0.5s ease-in-out;
}

.about-icon:hover {
  color: black;
  text-shadow: 0 0 1rem var(--txtShadow-hover-clr);
  scale: 1.1;
}

#resume-btn {
  width: 25%;
  height: 3rem;
  font-size: medium;
  font-weight: bold;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-txt-clr);
  color: black;
  border: none;
  box-shadow: 0 0 1rem black;
  transition: 0.25s ease-in-out;
}

#resume-btn:hover {
  color: var(--txtShadow-hover-clr);
  background-color: var(--resume-btn-on-hover-bgcolor);
  box-shadow: 0 0 1rem var(--txtShadow-hover-clr);
}

#resume-btn:active {
  box-shadow: inset 0 0 1rem var(--txtShadow-hover-clr);
}

.fa-arrow-up-right-from-square {
  margin: 0 0.25rem;
}

/* Go To Button */
.go-to-top {
  background-color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 999;
  font-size: large;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  animation: goToTop 1s ease-in-out;
}

@keyframes goToTop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.go-to-top:hover {
  box-shadow: 0 0 1.25rem var(--txt-shadow-color);
  background-color: black;
  color: var(--primary-color);
}

.fa-angle-up {
  font-size: larger;
}

.fa-angle-up:hover {
  color: var(--txt-shadow-color);
}

/* Footer CSS */
footer {
  text-align: center;
  background-color: var(--container-bgcolor);
  font-size: small;
  font-family: monospace;
  line-height: 3;
  box-shadow: inset 0 0 1rem black;
  color: var(--primary-color);
  transition: 1s ease-in-out;
}
