nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  text-align: center;
  width: auto;
  box-shadow: inset 0 0 1rem var(--inset-boxShadow-clr);
  background-color: var(--container-bgclr);
}

.img-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  font-weight: bold;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand img {
  height: 2.25rem;
  width: 2.25rem;
  margin: 0 0.25rem 0 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.navbar-brand img:hover {
  box-shadow: 0 0 1rem var(--txtShadow-hover-clr);
  scale: 1.15;
}

#navbar-name {
  text-decoration: none;
  color: var(--primary-txt-clr);
  transition: 0.5s ease-in-out;
}

#navbar-name:hover {
  text-shadow: 0 0 1rem var(--txtShadow-hover-clr);
  border-radius: 0.25rem;
  scale: 1.05;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 2rem;
}

.menu a {
  text-decoration: none;
  color: var(--primary-txt-clr);
  font-weight: bold;
  font-size: 3vmin;
  transition: 0.5s ease-in-out;
  padding: 0.25rem 1rem;
  margin: 0;
}

.menu a:hover {
  text-shadow: 0 0 1rem var(--txtShadow-hover-clr);
  border-radius: 0.5rem;
  border: 0.01rem solid var(--txtShadow-hover-clr);
}

#mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
}
