nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--main-section-bgcolor);
  color: var(--primary-color);
  text-align: center;
  width: auto;
  box-sizing: border-box;
}

.img-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  font-weight: bold;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand img {
  height: 2.25rem;
  width: 2.25rem;
  margin: 0 0.25rem 0 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.navbar-brand img:hover {
  box-shadow: 0 0 1rem var(--txt-shadow-color);
  border-color: black;
  scale: 1.15;
}

#navbar-name {
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Lucida Sans";
  transition: 0.5s ease-in-out;
}

#navbar-name:hover {
  text-shadow: 0 0 1rem var(--txt-shadow-color);
  background-color: black;
  border-radius: 0.25rem;
  color: var(--txt-shadow-color);
}

.menu {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.menu a {
  text-decoration: none;
  margin: 0;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 3vmin;
  background-color: transparent;
  transition: 0.25s ease-in-out;
  font-family: "Lucida Sans";
  transition: 0.5s ease-in-out;
  padding: 0.25rem 1rem;
}

.menu a:hover {
  text-shadow: 0 0 1rem var(--txt-shadow-color);
  color: var(--txt-shadow-color);
  background-color: black;
  border-radius: 0.25rem;
}
