:root {
  /* For Light Theme */
  /* --light-primary-color: white;
  --light-secondary-color: whitesmoke;
  --light-main-section-bgcolor: #b13cff;
  --light-content-container-bgcolor: #451c5c;
  --light-resume-btn-on-hover-bgcolor: #a200ff;
  --light-on-hover-card-bgcolor: #b13cffd7;
  --light-txt-shadow-color: yellow; */

  --light-main-body-bgclr: #ae52ff; /* main body background */
  --light-container-bgclr: #5b0d85; /* section container bg color */
  --light-secondary-txt-clr: #222222;
  --light-txtShadow-clr: white;
  --light-txtShadow-hover-clr: white;
  --light-boxShadow-clr: white;
  --light-inset-boxShadow-clr: black;
  --light-resume-btn-border-clr: white;
  --light-resume-btn-bgclr: white;
  --light-resume-btn-hover-bgclr: white;
  --light-nav-name-bgclr: white;
  --light-nav-name-hover-bgclr: white;
  --light-nav-menu-bgclr: white;
  --light-nav-menu-hover-bgclr: white;
  --light-social-icon-clr: white;
  --light-social-icon-hover-clr: white;
  --light-section-header-clr: white;
  --light-section-header-hover-clr: white;
  --light-project-btn-bgclr: white;
  --light-project-card-bgclr: white;
  --light-project-card-hover-bgclr: white;
  --light-project-card-boxShadow-clr: white;


  /* For Dark Theme */
  --dark-primary-color: white;
  --dark-secondary-color: whitesmoke;
  --dark-main-section-bgcolor: #1c1c1c;
  --dark-content-container-bgcolor: #26003b;
  --dark-resume-btn-on-hover-bgcolor: #2b0144;
  --dark-on-hover-card-bgcolor: #35134cd7;
  --dark-txt-shadow-color: rgb(0, 255, 255);
}

[data-theme="light"] {
  /* --primary-color: var(--light-primary-color);
  --secondary-color: var(--light-secondary-color);
  --main-section-bgcolor: var(--light-main-section-bgcolor);
  --container-bgcolor: var(--light-content-container-bgcolor);
  --resume-btn-on-hover-bgcolor: var(--light-resume-btn-on-hover-bgcolor);
  --on-hover-card-bgcolor: var(--light-on-hover-card-bgcolor);
  --txt-shadow-color: var(--light-txt-shadow-color); */

  --main-body-bgclr: var(--light-main-body-bgclr);
  --container-bgclr: var(--light-container-bgclr);
  --primary-txt-clr: white;
  --secondary-txt-clr: white;
  --txtShadow-clr: white;
  --txtShadow-hover-clr: white;
  --boxShadow-clr: white;
  --inset-boxShadow-clr: var(--light-inset-boxShadow-clr);
  --resume-btn-border-clr: white;
  --resume-btn-bgclr: white;
  --resume-btn-hover-bgclr: white;
  --nav-name-bgclr: white;
  --nav-name-hover-bgclr: white;
  --nav-menu-bgclr: white
  --nav-menu-hover-bgclr: white;
  --social-icon-clr: white;
  --social-icon-hover-clr: white;
  --section-header-clr: white;
  --section-header-hover-clr: white;
  --project-btn-bgclr: white;
  --project-card-bgclr: white;
  --project-card-hover-bgclr: white;
  --project-card-boxShadow-clr: white;
}

[data-theme="dark"] {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --main-section-bgcolor: var(--dark-main-section-bgcolor);
  --container-bgcolor: var(--dark-content-container-bgcolor);
  --resume-btn-on-hover-bgcolor: var(--dark-resume-btn-on-hover-bgcolor);
  --on-hover-card-bgcolor: var(--dark-on-hover-card-bgcolor);
  --txt-shadow-color: var(--dark-txt-shadow-color);
}