#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* * Hero Image */
    .hero-img-box {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        #hero-img {
            width: 20dvw;
            border-radius: 50%;
        }
    }

    /* * Hero Name */
    .hero-name {
        font-family: "Playfair Display";
        font-size: 1.25rem;
    }

    /* * Hero Tagline */
    .hero-tagline {
        padding: 0 5rem;

        h3 {
            margin: 0;
        }
    }

    /* * Hero Social Handles */
    .hero-social-handles {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2rem;
            margin: 2rem 1rem;
        }
    }
}