/* Common Component Styling. */
.section-title {
    font-family: "Playfair Display";
    text-align: center;
    font-size: 2.25rem;
    padding: 2rem 0 1rem;
    margin: 0;
}

.section-title-description {
    font-size: 0.9rem;
    text-align: center;
    margin: 0 0 2rem;
}