.header {
    display: flex;
    justify-content: center;
    text-align: center;

    /* Navigation Items */
    .nav-items {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            padding: 0;

            li a {
                margin: 0 4rem;
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: bold;
                color: inherit;
            }

        }
    }
}